/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } */

body {
  font-family: Mukta, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
}

.info {
  text-align: center;
  font-family: Bitter, serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.5px;
}

.info span {
  color: #e95400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Bitter, serif;
  font-weight: 500;
}

.hero-content h1 {
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -1.5px;
  margin: 0;
}

h2 {
  font-size: 50px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 38px;
  letter-spacing: 0px;
}
h4 {
  font-size: 30px;
  letter-spacing: 0.25px;
}
h5 {
  font-size: 24px;
  letter-spacing: 0.25px;
}
h6 {
  font-size: 20px;
  letter-spacing: 0.25px;
}

code {
  color: #e95400;
  font-weight: bold;
}

.hero {
  background: url(https://images.unsplash.com/photo-1641380231586-4e8d444212fc?q=80&w=1035&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  height: 100vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-content hr {
  width: 100%;
  color: white;
  margin: 5px 0 100px 0;
}

.hero-content .name h1,
.hero-content .intro p {
  width: 75%;
  max-width: 900px;
  margin: 16px 0;
}

.headline {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0px;
  margin: 40px 0;
}

.headline span {
  color: #e95400;
}

.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 32px;
}

.content h3 {
  text-transform: capitalize;
}

.hero-quote {
  color: rgb(10, 93, 90);
  font-style: italic;
  font-size: 14px;
  /* border-left: 2px solid #e95400; */
  padding-left: 16px;
  margin: 32px 0 32px 32px;
}

.hero-quote:hover {
  color: aquamarine;
  text-shadow: 0 4px 8px #fff;
}

.content-quote {
  font-style: italic;
  font-size: 14px;
  border-left: 2px solid #e95400;
  padding-left: 16px;
  margin: 32px 0 32px 32px;
}

.hero-quote,
.content-quote cite {
  display: block;
  font-weight: bold;
  margin-left: 20px;
}

.content hr {
  /* width: 100%;
    color: white; */
  margin: 100px 0;
}

footer {
  background: url(https://images.unsplash.com/photo-1703190989193-916931f88556?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDI5fHx8ZW58MHx8fHx8);
  opacity: 0.9;
}

footer ul {
  list-style: none;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  text-align: center;
  padding: 28px 0;
}

footer ul li {
  display: inline;
  padding: 0 16px;
}

footer li a {
  text-decoration: none;
  color: rgb(180, 149, 106);
}

footer li a:hover {
  text-decoration: underline;
  color: white;
}
