
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Cormorant', serif;
    font-weight: 700;
    background: linear-gradient(to left, #005aa7, #fffde4);
    color: #222;
  }
  

  header {
    
  }

  .links {
    display: inline-block;
    margin: 0 32px 0 0;
    padding-left: 60rem;
  }

  .links li {
    display: inline-block;
  }

  .links a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin: 200px 8px 8px 50px;
  }

  .links a:hover {
    color: rgb(104, 108, 108);
  }

  .links ul {
    padding: 20px 0 0 0;
  }


  .gallery-layout {
    display: grid;
    grid-template-columns: 220px 1fr;
    height: 100vh;
    padding: 40px;
    gap: 40px;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .sidebar h2 {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 12px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #666;
    font-size: 30px;
  }
  
  .sidebar a:hover {
    color: #000;
  }
  
  .viewer {
    position: relative;
    display: grid;
    place-items: center;
  }
  
  .artwork {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    text-align: center;
  }
  
  .artwork img {
    max-width: 70%;
    max-height: 80vh;
    object-fit: contain;
  }
  
  .artwork figcaption {
    margin-top: 10px;
    font-size: 13px;
    color: #555;
  }
  
  .artwork:target {
    opacity: 1;
    pointer-events: auto;
  }
  
  .default {
    opacity: 1;
  }



  /* .art { display: none; }

#hogwarts:checked ~ .hogwarts { display: block; }
#white:checked ~ .white { display: block; } */